In [1]:
#NIM/NAMA      : 16019167/CAROLINA SINAGA
#TANGGAL       : SELASA,12 NOVEMBER 2019
#DESKRIPSI     : Analisa data(Problem 2)

import pandas as pd
df3 = pd.read_csv("D:/fmipa-fghij.csv")

In [2]:
#Mencetak nilai milik Tuan Yon
print("Nilai matematika,fisika,dan kimia milik Tuan Yon:")
df3.loc[df3["nama"]=="Tuan Yon"]

Nilai matematika,fisika,dan kimia milik Tuan Yon:

          nama fakultas  nilai_mat  nilai_kim  nilai_fis
5398  Tuan Yon     FTMD      99.18      63.44      40.23

In [3]:
nilai_fis_maks=df3["nilai_fis"].max()
df3.loc[df3["nilai_fis"]==nilai_fis_maks]

                       nama fakultas  nilai_mat  nilai_kim  nilai_fis
5518  Rizal Irnandi Hidayat    SAPPK      55.94      86.98      90.64

In [13]:
#Mencetak nilai fisika mahasiswa tertinggi
imax = df3["nilai_fis"].idxmax()
print("Nilai fisika mahasiswa tertinggi")
print(df3[imax:imax + 1])

Nilai fisika mahasiswa tertinggi
                       nama fakultas  nilai_mat  nilai_kim  nilai_fis
5518  Rizal Irnandi Hidayat    SAPPK      55.94      86.98      90.64

In [15]:
#Mencetak 10 mahasiswa yang mendapat nilai kimia tertinggi
print("10 mahasiswa yang mendapat nilai kimia tertinggi")
df4 = df3.sort_values(["nilai_kim"],ascending =[0])
print(df4[:10])

10 mahasiswa yang mendapat nilai kimia tertinggi
                             nama fakultas  nilai_mat  nilai_kim  nilai_fis
4951                Putri Humaira    FMIPA      77.76      88.70      76.87
5518        Rizal Irnandi Hidayat    SAPPK      55.94      86.98      90.64
1757    William Kencana Tanjungan     STEI      51.84      84.64      82.90
747      Razqi Muhammad Kurniawan     STEI      85.05      82.76      86.53
7334                 Bela Haifa K      FTI      65.85      80.28      87.66
4043            Amila Laelalugina     STEI      72.11      79.35      71.61
2568      Muhammad Faqih Mulyawan     STEI      76.97      79.09      87.12
1794  Nuning Anugrah Putri Namari    FMIPA      49.08      78.18      71.99
4305               Poppy Dharsana      FTI     100.00      77.59      75.37
5826           Muhammad Rahimsyah      FTI      86.27      77.13      81.84

In [16]:
#Mencetak banyaknya mahasiswa yang mendapat nilai matematika di bawah 50
Nilai_mat_dibawah_50 = df3.loc[df3["nilai_mat"]<=50]
print("Banyaknya mahasiswa yang mendapat nilai matematika di bawah 50 : ",len(Nilai_mat_dibawah_50))

Banyaknya mahasiswa yang mendapat nilai matematika di bawah 50 :  514

In [17]:
#Menentukan banyaknya  mahasiswa FMIPA
Jumlah_mahasiswa_FMIPA = df3.loc[df3["fakultas"]=="FMIPA"]
print("Banyaknya mahasiswa FMIPA : ",len(Jumlah_mahasiswa_FMIPA))

Banyaknya mahasiswa FMIPA :  913